<nav class="navbar navbar-expand-lg " style="background-color: #003580">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="font-style: inherit;color: white;font-weight: bold;font-size: xx-large; margin-right: 600px; padding-left: 130px">Booking.com</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
              <!--          Notification-->
              <a class="nav-link active" aria-current="page" href="#" style="font-style: inherit;color: burlywood;font-weight: bold;font-size: x-large;">&#128276;</a>
          </li>
          &nbsp;
          &nbsp;
        <li class="nav-item">
<!--          Currency-->
          <a class="nav-link active" aria-current="page" href="#" style="font-style: inherit;color: burlywood;font-weight: bold;font-size: x-large;">&#36;</a>
        </li>
          &nbsp;
          &nbsp;
        <li class="nav-item">
<!--          Language-->
          <a class="nav-link active" aria-current="page" style="font-style: inherit;color: cadetblue;font-size: x-large;">ENG</a>
        </li>
          &nbsp;
          &nbsp;
        <li class="nav-item">
<!--          Help-->
          <a class="nav-link" href="#" style="font-style: inherit;color: burlywood;font-weight: bold;font-size: x-large;">&#9990;</a>
        </li>
          &nbsp;
          &nbsp;
          &nbsp;
          <a type="button" class="btn btn-outline-primary" style="font-style: inherit;color: #003580;background-color: white;padding-top: 10px;padding-bottom: 1px"  href="/registration">Registration</a>
          &nbsp;
          &nbsp;
          &nbsp;
          <a type="button" class="btn btn-outline-primary" style="font-style: inherit;color: #003580;background-color: white;padding-top: 10px;padding-bottom: 1px" href="/login" >Sign in</a>

      </ul>
      </ul>
    </div>

  </div>
</nav>


<nav class="navbar navbar-expand-lg " style="background-color: #003580">
  <div class="container-fluid" >
    <form class="d-flex" role="search" style="margin-right: auto;margin-left: auto">
      <input class="form-control me-2 border border-3 border-warning" type="search" placeholder="Where are you going?" aria-label="Search">
      <input class="form-control me-2 border border-3 border-warning" type="date" placeholder="Check-in" aria-label="Search">
      <input class="form-control me-2 border border-3 border-warning" type="date" placeholder="Check-out" aria-label="Search">
      <input class="form-control me-2 border border-3 border-warning" type="search" placeholder="How much Adults?" aria-label="Search">
      <input class="form-control me-2 border border-3 border-warning" type="search" placeholder="Children's?" aria-label="Search">
      <input class="form-control me-2 border border-3 border-warning" type="search" placeholder="Rooms" aria-label="Search">
      <button class="btn btn-outline-success" type="submit" style="font-style: inherit;color: #003580;background-color: burlywood">Search</button>
    </form>
  </div>
</nav>

