<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ulraq.net.nz/thymeleaf/layout"
                xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body>



    <div class="row">
        <div class="col-12 mx-auto" th:insert="~{sides/navbar.html}"></div>
        <div class="col-12" layout:fragment="mainContent">

        </div>
    </div>

<div th:insert="~{sides/footer.html}"></div>




</body>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</html>