<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="fragments/mainFragmentCabinet.html">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

</head>
<body>

<div layout:fragment="mainContent">
  <div class="container">

    <h5 style="margin-left: 100px">This my cabinetFeaturing a bar, terrace and views of city, Reikartz Sky Almaty is located in Almaty, a 14-minute walk from Abay Opera House. Among the facilities of this property are a restaurant, a 24-hour front desk and room service, along with free WiFi. The hotel features family rooms.

      At the hotel, every room has a closet. At Reikartz Sky Almaty, every room includes a private bathroom with bathrobes and slippers.

      Guests at the accommodation can enjoy a buffet breakfast.

      Kazakhstan Independence Monument is a 15-minute walk from Reikartz Sky Almaty, while Republic Palace is 2.3 km away. The nearest airport is Almaty International, 17.7 km from the hotel, and the property offers a paid airport shuttle service.

      Couples in particular like the location – they rated it 9.0 for a two-person trip.

      Reikartz Sky Almaty has been welcoming Booking.com guests since Sep 23, 2021

      Distance in property description is calculated using © OpenStreetMap</h5>

</div>
</div>


</body>
</html>