<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="fragments/mainFragmentWithPhotos.html">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content=
          "width=device-width, initial-scale=1.0">
  <title>Title</title>

</head>
<body>

<div layout:fragment="mainContent">
  <div class="container" style="flex-direction: column" >


    <a th:href="@{'/message'}" style="margin-right: 200px; margin-left: 200px"><button type="button" class="btn btn-warning btn-rounded"  >Contact to the Owner</button></a>

    &nbsp;

    <h3 style="margin-left: 200px;margin-right: 200px" th:text="${hotel.get().title}"></h3>
    <h5 style="margin-left: 200px;margin-right: 200px" th:text="${hotel.get().street}"></h5>
      &nbsp;
    <p style="margin-left: 200px;margin-right: 200px" th:text="${hotel.get().description}"></p>


    <h6 style="margin-left: 200px;margin-right: 200px;">Most popular facilities</h6>
    <ul class="block-list" style="margin-left: 200px;margin-right: 200px;display: inline-block"  th:each="stuffs: ${hotel.get().getStuffsOfHotels()}">
      <li  th:text="${stuffs.name}"></li>
    </ul>


    <!-- Buttons trigger collapse -->
    &nbsp;
    <h5 style="margin-left: 200px;margin-right: 200px;font-weight: bold;font-family: 'Akhbar MT'">Reviews:</h5>
    <div class="card" style="margin-left: 200px;margin-right: 300px;" th:each="comment: ${comments}">
      <div class="card-header" style="background-color: cadetblue" th:text="${comment.getUser().name}">

      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p th:text="${comment.comment}" style="font-size: small"></p>
          <footer class="blockquote-footer" th:text="${comment.timeOfComment}"> <cite title="Source Title"></cite></footer>
        </blockquote>
      </div>
    </div>

    <div class="row mt-3" style="margin-left: 200px;margin-right: 200px">
      <div class="col-12">
        <textarea rows="2" class="form-control" id = "comment"></textarea>
      </div>
    </div>
    <div class="row mt-3" style="margin-left: 200px;margin-right: 200px">
      <div class="col-12">
        <button type="button" id="add_comment_button" class="btn btn-info">Leave Feedback</button>
      </div>
    </div>








    &nbsp;
    &nbsp;
    &nbsp;
  </div>
</div>


</body>
</html>