<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

<div style="background-size: cover; background-image: url('https://prod-virtuoso.dotcmscloud.com/dA/188da7ea-f44f-4b9c-92f9-6a65064021c1/previewImage/PowerfulReasons_hero.jpg')">
<div class="container">
  <div class="frame">
    <div class="nav">
      <ul class="links">
        <li class="signin-active"  style="margin-left: 120px">
          <a class="btn">Sign in</a></li>
      </ul>
    </div>
    <form th:action="@{'/signin'}" method="post" >
      <label>Email</label>
      <input class="form-styling" type="email" name="user_email" placeholder="Email" />
      <label >Password</label>
      <input class="form-styling" type="text" name="user_password" placeholder="Password"/>
      <input type="checkbox" id="checkbox"/>
      <label for="checkbox" >
        <span class="ui" ></span>Keep me signed in</label>
      <div class="btn-animate">
        <button class="btn-signin " type="submit" style="color: white;font-weight: bold;font-size: large;background-color: #3B5998">Sign in</button>
      </div>
    </form>

    &nbsp;
    &nbsp;
    &nbsp;

    <div class="btn-animate">
      <a th:href="@{'/'}">
      <button class="btn-signin " type="submit" style="color: #3B5998;font-weight: bold;font-size: large;background-color: burlywood" > Home</button>
      </a>
    </div>


</body>
<script src="/js/script.js"></script>
</html>