<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="fragments/mainFragmentCabinet.html">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="/css/styleForCabinet.css" rel="stylesheet" type="text/css">
</head>
<body>

<div layout:fragment="mainContent">
  <div class="container">


    <h2 style="margin-left: 350px;margin-top: 10px">My booking history</h2>
    &nbsp;

    <div class="container">
      <table class="table align-middle mb-0 bg-white" th:each="b: ${books}">
        <thead class="bg-light">
        <tr>
          <th>Booked by </th>
          <th>Booked time</th>
          <th>For how many days</th>
          <th>Total price</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <div class="d-flex align-items-center">
              <img
                      src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                      alt=""
                      style="width: 45px; height: 45px"
                      class="rounded-circle"
              />
              <div class="ms-3">
                <p class="fw-bold mb-1" th:text="${b.user.name}"></p>
                <p class="text-muted mb-0" th:text="${b.user.email}"></p>
              </div>
            </div>
          </td>
          <td>
            <p class="fw-normal mb-1" th:text="${b.bookedTime}" > </p>
          </td>
          <td>
            <p class="text-muted mb-0" th:text="${b.days}"></p> days
          </td>
          <td>
            <p class="text-muted mb-0" th:text="${b.totalPrice}"></p> $
          </td>
        </tr>

        </tbody>
      </table>
    </div>


</body>
</html>