<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link href="/css/forNotificationPage.css" rel="stylesheet" type="text/css">
<body>

<form action="/sendNotification" method="post" >
  <h1>Send Notification to Users</h1>
  <p>Please take a moment to get in touch, we will get back to you shortly.</p>

  <div class="column">
    <label for="the-name">Title</label>
    <input type="text" name="title" id="the-name">

    <label for="the-email">Your email</label>
    <input type="email" name="email" id="the-email">

    <label for="the-phone">Url of content image</label>
    <input type="tel" name="url" id="the-phone">

    <label for="the-reason">Type of Notification</label>
    <select name="type" id="the-reason"  >
      <option>Choose one:</option>
      <option th:each="t: ${types}" th:text="${t.type}" th:value="${t.id}"></option>
<!--      <option value="">Events</option>-->
<!--      <option value="web">Discounts</option>-->
<!--      <option value="video">About changes from the apps</option>-->
<!--      <option value="3d">News</option>-->
    </select>
  </div>
  <div class="column">
    <label for="the-message">Message</label>
    <textarea name="message" id="the-message"></textarea>

    <input type="submit" value="Send Notice">
  </div>
</form>


<div class="typewriter">
  <div class="slide"><i></i></div>
  <div class="paper"></div>
  <div class="keyboard"></div>
</div>

<!-- dribbble -->
<a class="dribbble" href="https://dribbble.com/shots/8184246-Typewriter" target="_blank"><img src="https://cdn.dribbble.com/assets/dribbble-ball-mark-2bd45f09c2fb58dbbfb44766d5d1d07c5a12972d602ef8b32204d28fa3dda554.svg" alt=""></a>


</body>
</html>