<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

<div style="background-size: cover; background-image: url('https://thumbs.dreamstime.com/b/time-to-travel-wooden-sign-beach-background-49509295.jpg')  " >
<div class="container">
    <div class="frame" style="width: 500px; height: 700px">
        <div class="nav">
            <ul class="links" style="margin-left: 140px">
            <li class="signin-active" ><a class="btn" >Sign up</a></li>
            </ul>
        </div>
            <form  action="/registrationing" method="post" name="form" >
                <label> Name</label>
                <input class="form-styling" type="text" name="name" placeholder="Your Name" />
                <label> Surname</label>
                <input class="form-styling" type="text" name="surname" placeholder="Your Surname" />
                <label>Email</label>
                <input class="form-styling" type="email" name="email" placeholder="Email"/>
                <label >Password</label>
                <input class="form-styling" type="password" name="password" placeholder="Password"/>
                <label >Confirm Password</label>
                <input class="form-styling" type="password" name="password2" placeholder="Confirm Password"/>
                <div class="btn-animate">
                    <button class="btn-signin " type="submit" style="color: white;font-weight: bold;font-size: large;background-color: #3B5998">Sign up</button>
                </div>
            </form>

        &nbsp;
        &nbsp;
        &nbsp;

        <div class="btn-animate">
            <a th:href="@{'/'}">
                <button class="btn-signin " type="submit" style="color: #3B5998;font-weight: bold;font-size: large;background-color: burlywood" > Home</button>
            </a>
        </div>





    </div>
</div>
</div>


</body>
<script src="/js/script.js"></script>
</html>