<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

<div style="background-image: url('https://media.istockphoto.com/id/498309616/photo/great-ocean-road-at-night-milky-way-view.jpg?s=612x612&w=0&k=20&c=fJGWCAB4JoXaQD6gjJRHjPmPIRvx5e6K-1Oq2EeOZwk=')">
<div class="container">
    <div class="frame">
        <div class="nav">
            <ul class="links" style="margin-left: 120px">
            <li class="signin-active" ><a class="btn" >Sign up</a></li>
            </ul>
        </div>
            <form class="form-signin" action="" method="post" name="form">
                <label>Full Name</label>
                <input class="form-styling" type="text" name="username" placeholder="Full Name" />
                <label>Email</label>
                <input class="form-styling" type="email" name="email" placeholder="Email"/>
                <label >Password</label>
                <input class="form-styling" type="password" name="password" placeholder="Password"/>
                <label >Confirm Password</label>
                <input class="form-styling" type="password" name="password2" placeholder="Confirm Password"/>
                <div class="btn-animate">
                    <a class="btn-signin">Sign up</a>
                </div>
            </form>

<!--            <form class="form-signup" action="" method="post" name="form">-->
<!--                <label >Full name</label>-->
<!--                <input class="form-styling" type="text" name="fullname" placeholder=""/>-->
<!--                <label>Email</label>-->
<!--                <input class="form-styling" type="text" name="email" placeholder=""/>-->
<!--                <label >Password</label>-->
<!--                <input class="form-styling" type="text" name="password" placeholder=""/>-->
<!--                <label >Confirm password</label>-->
<!--                <input class="form-styling" type="text" name="confirmpassword" placeholder=""/>-->
<!--                <a ng-click="checked = !checked" class="btn-signup">Sign Up</a>-->
<!--            </form>-->



    </div>



</body>
<script src="/js/script.js"></script>
</html>